.modal__bgc {
    background-color: rgba(49, 49, 49, 0.8);
}

.modal, .modal__bgc {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}


.modal__content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background-color: white;
    padding: 50px;
    display: flex;
    border-radius: 18px;
    overflow: hidden;
    flex-direction: column;
    
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    min-height: 10px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
}

.close:hover {
    color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.active-body {
    overflow: hidden;
}

.modal__image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}


.modal__info {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 15px 15px;
    gap: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal__url {
    text-decoration: none;
    color: black;
}

.modal__url:hover {
    text-decoration: underline;
    color: blue;
}


@media(max-width: 450px) {
    .modal__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 270px;
        justify-content: start;
        padding: 10px;
    }

    .modal__info {
        display: flex;
        justify-content: start;
        padding: 0;
        margin: 0;
    }
}