* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .app {
  width: 100vw;
  height: 100vh;
} */

body {
  background-color: #3B3B3B;

}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 20px;
}

.selection {
  display: flex;
  justify-content: center;
}

.add__button {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}




.select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 10px 10px;
}

 .select__option {
  padding: 30px;
}


.btn {
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: gray;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
}

.btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.preloader {

}
